@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .text-overline {
      @apply font-inter text-[10px]  leading-4  tracking-normal;
    }
    .text-caption {
      @apply font-inter text-xs  leading-5  tracking-normal;
    }
    .text-body-1 {
      @apply font-inter text-sm  leading-6  tracking-normal;
    }
    .text-body-1-display {
      @apply font-display text-sm  leading-6  tracking-normal;
    }
    .text-body-2 {
      @apply font-inter text-base  leading-6  tracking-normal;
    }
    .text-body-2-display {
      @apply font-display text-base tracking-normal;
    }
    .text-subtitle-1 {
      @apply font-inter  text-lg  leading-6  tracking-normal;
    }
    .text-subtitle-1-display {
      @apply font-display  text-lg  leading-6  tracking-normal;
    }
    .text-subtitle-2 {
      @apply font-inter  text-xl  leading-6  tracking-normal;
    }
    .text-title-2 {
      @apply font-inter  text-2xl  leading-8  tracking-normal;
    }
    .text-title-1 {
      @apply font-display  text-[28px]  leading-10  tracking-normal;
    }
    .text-h6 {
      @apply font-display  text-4xl  leading-[54px]  tracking-normal;
    }
    .text-h5 {
      @apply font-display  text-5xl  leading-8  tracking-normal;
    }
    .text-h4 {
      @apply font-display  text-6xl  leading-8  tracking-normal;
    }
    .text-h3 {
      @apply font-display  text-7xl  leading-8  tracking-normal;
    }
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
